.inputbtn {
  font-size: 2.0em;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  /* 背景色を濃い青色に指定 */
  background-color: #248;
  /* 文字色を白色に指定 */
  color: #fff;
  /* ボーダーをなくす */
  border-style: none;

  /* 初期非表示 */
  display: none;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.particle_btn{
  font-size: 2.0em;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  /* 背景色を濃い青色に指定 */
  background-color: #248;
  /* 文字色を白色に指定 */
  color: #fff;
  /* ボーダーをなくす */
  border-style: none;

  /* 初期非表示 */
  display: none;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#text_clear,#copybtn,#new_line,#spacebtn{
  font-size: 2.0em;
  font-weight: bold;
  margin: 5px;
  text-align: center;
  /* 背景色を濃い青色に指定 */
  background-color: #248;
  /* 文字色を白色に指定 */
  color: #fff;
  /* ボーダーをなくす */
  border-style: none;

  /* 初期非表示 */

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


#clear{
  font-size: 2.0em;
  font-weight: bold;
  margin: 5px;
  text-align: center;
  /* 背景色を濃い青色に指定 */
  background-color: #248;
  /* 文字色を白色に指定 */
  color: #fff;
  /* ボーダーをなくす */
  border-style: none;

  /* 初期非表示 */

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bline1 .bline2 .bline3 .bline4 .bline5 .bline6 .bline7 .bline8 .bline9 .bline10 {

}

#mycanvas{
  position: absolute;
  /*top:0;*/
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
}
